#she{
    font-family: Aref Ruqaa Ink;
}
#remain{
    font-family: Unna;
}
#taj{
    font-family: Forum;
}
h2{
    font-size: 50px;
    text-align: center;
    color: goldenrod;
}
.btn{
    margin-top: 145px;
    margin-right: 71px;
}
.first .btn{
  position: absolute;
  top: 13%;
  right: 13%;
}
.first h2{
  position: absolute;
  top: 5%;
  right:7%;
  font-size: 3rem;
}
  .Taj{
    width: 100%;
   position: relative;
    top: 0%;
    z-index: -1;
  }

.memo{
  text-align: center;
  padding-top: 5%;
}

.memo:hover{
  color: rgb(238, 110, 18);
}

.memo p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}

.offers {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: #4c55a8;
}
.inside{
  width: 100%;
}
.fourth{
  text-align: center;
  background-color: #d29751;
}
.fourth p{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding-top: 2%;
}
.fourth .btn{
  margin-top: 3%;
}

.container h3{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3rem;
  color: #4c55a8;
  font-weight: bold;

}
.Destination img{
  width: 100%;
  min-height: 300px;
}
.Destination{
  text-align: center;
}
.Destination .btn {
  margin-top: 10%;
  margin-bottom: 5%;
}
.Destination p {
  font-size: 2rem;
  font-weight: bold;
}

.d-block{
  width: 500px;
}

.explore {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3rem;
  color: #4c55a8;
  font-weight: bold;
}


.sixth img {
  width: 80%;
  margin-left: 10%;
}
.sixth .heading{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2rem;
  color: #4c55a8;
  font-weight: bold;
}

.sixth .content{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.seventh{
  font-size: 20px;
  text-align: center;
  background-color:rgb(239, 238, 238);
}

.dest{
  text-align: center;
  margin-top: 5%;
  font-size: 2rem;
}
.eight{
  background-color:rgb(239, 238, 238);
  font-size: 20px;
  text-align: center;
}
.eight p{
  padding-top: 5%;
}
.eight img{
  margin-left: 5%;
}
