#she{
    font-family: Aref Ruqaa Ink;
}
#remain{
    font-family: Unna;
}
#taj{
    font-family: Forum;
}
h2{
    font-size: 50px;
    text-align: center;
    color: goldenrod;
}

  .Taj{
    width: 100%;
    margin: auto;
  }

.memo{
  text-align: center;
  padding-top: 5%;
}

.memo:hover{
  color: rgb(238, 110, 18);
}

.memo p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}


.fourth{ 
  color: #4c55a8;
}
.fourth h3{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.inside{
  width: 100%;
}
.fourth{
  text-align: left;
}
.fourth p{
  margin-left: 20%;
  font-size: 2rem;
  font-weight: bold;
}
.fourth .btn {
  margin-left: 20%;
}


.urban1:hover{
  background-color: #d29751;
}

.urban2:hover{
  background-color: #d29751;
}

.urban3:hover{
  background-color: #d29751;
}

.urban4:hover{
  background-color: #d29751;
}

.urban5:hover{
  background-color: #d29751;
}

h6{
  position: absolute;
  right: 310px;
  margin-right: 650px;
  top: 905px;
  color: #d29751;

}
.container h3{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3rem;
  color: #4c55a8;
  font-weight: bold;

}
.Destination img{
  width: 100%;
  min-height: 300px;
  
}

.Destination .btn {
  margin: 5%  32% 5%;
  
}

.Destination p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.d-block{
  width: 500px;
}

.explore {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3rem;
  color: #4c55a8;
  font-weight: bold;
}

.sixth img {
  width: 80%;
  margin-left: 10%;
}
.sixth .heading{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2rem;
  color: #4c55a8;
  font-weight: bold;
}

.sixth .content{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1rem;
  color: #4c55a8;
  font-weight: bold;
}

.seventh{
  font-size: 20px;
  text-align: center;
  background-color:rgb(239, 238, 238);
}

/* .seventh p {
  padding-left: 0%;
} */
.dest{
  text-align: center;
  margin-top: 5%;
  font-size: 2rem;
}
.eight{
  background-color:rgb(239, 238, 238);
  font-size: 20px;
  text-align: center;
}
.eight p{
  padding-top: 5%;
}
.eight img{
  margin-left: 5%;
}
